*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin:0;
    font-family: Helvetica,sans-serif;
}
.clearfix:after{
    content:'';
    display: table;
    width:100%;
    clear:both;
}
.conteiner{
    max-width: 1000px;
    margin: 0 auto;
}
.header__top{
    padding: 40px  0px 50px 0px;
    text-align: center;
    
}
.image{
    float: left;
    
}
h1{
    font-size: 54px;
    color: #0197D9;
    text-align: center;
    margin: 0;
    
}
.title{
    font-size: 20px;
    color: #0197D9;
    text-align: center;
    padding-top: 4px;
}
nav{
    margin-top: 15px;
}
.menu{
    text-align: center;
    padding: 0;
    margin: 0; 
    display: block;
    border-top: 1px solid rgb(223, 208, 208);
    border-bottom: 1px solid rgb(223, 208, 208);
    padding: 15px;
}
.menu li{
    display: inline-block;
    margin-right: 30px;
    font-size: 17px;
}
.menu a{
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
}
.menu .glovna{
    color:#eb1224;
}
.menu a:hover{
    color:#eb1224;
    transition: 0.4s;
}
.inf{
    text-align: center;
    margin-top: 20px;
}
.girl{
    width: 100%;
    height: auto;
}
h2{
    font-weight: normal;
    text-align: center;
}
h3{
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}
.content{
    height: auto;

}
.center{
margin-top: 50px;
text-align: center;
}
.ok{
    width: 55px;
    height: 50px;
}

.first{
    display: inline-block;
    max-width: 24%;
    text-align:center;
    vertical-align: top;
}
.first h3{
font-size: 20px;
margin-bottom: 10px;
}
.first p{
   color: #888888; 
font-size: 18px;
line-height: 1.3em;
}
.site__bottom{
    max-width: 100%;
    border-top: 2px solid rgb(223, 208, 208);
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    font-size: 18px;
}
.back-to-top{
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #0197D9;
    display: none;
    }
.back-to-top:hover,
.back-to-top:focus {
    filter:brightness(1.5);
    outline: none;
}
.back-to-top::before,
.back-to-top::after{
    content: '';
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.back-to-top::before{
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
}
.back-to-top::after{
    width: 15px;
    height: 15px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
}
@media screen and (max-width: 600px) {
    .image{
        display:none;
    }
}
@media screen and (max-width: 950px) {
    .first{
        max-width: 43%;
    }
}
@media screen and (max-width: 750px) {
    .first{
        max-width: 90%;
    }
}

